body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  background: var(--background-color);
  color: var(--black);
  /* overflow: hidden; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
  /* box-sizing: border-box; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

.app {
  background: blue;
}