.button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.border {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}
