.button {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-radius: 5px;
}

.primary {
  color: var(--primary-color);
}

.inverted-color {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.border {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  background: none;
}

.background-primary {
  color: var(--primary-color);
  background-color: var(--bg-color);
}

.background-inverted {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}

.background-secondary {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}

.small {
  font: var(--font-m);
}

.medium {
  font: var(--font-l);
}

.large {
  font: var(--font-xl);
}
