.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: 0.3s;

  .nav {
    padding: 15px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;

    .navLink {
      display: flex;
      align-items: center;
      gap: 5px;
      white-space: nowrap;

      .homeIcon {
        stroke: var(--inverted-primary-color);
      }

      .aboutIcon > path {
        stroke: var(--inverted-primary-color);
      }
    }
  }

  .switchers {
    padding: 5px;
    margin-top: auto;
    align-self: center;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    width: 100%;
  }

  .button {
    position: absolute;
    right: -40px;
    bottom: 40px;
  }

  &.collapsed {
    width: var(--collapsed-sidebar-width);

    .switchers {
      flex-direction: column;
    }

    .linkText {
      width: 0;
      opacity: 0;
      transition: opacity 0.2s, width 0.2s;
    }
  }
}
