.app.light {
  --bg-color: rgb(206 202 194);
  --inverted-bg-color: rgb(110 110 110);
  --primary-color: rgb(0 18 117);
  --secondary-color: rgb(83 88 182);
  --inverted-primary-color: rgb(0 0 0);
  --inverted-secondary-color: rgb(92, 180, 92);
}
