.app.light {
  --bg-color: rgb(177, 177, 177);
  --inverted-bg-color: rgb(61, 61, 61);

  --primary-color: rgb(0 57 214);
  --secondary-color: rgb(89, 95, 211);
  --inverted-primary-color: rgb(236 236 236);
  --inverted-secondary-color: rgb(92, 180, 92);
}