.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;

  > button {
    margin-top: 20px;
    max-width: 100px;
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
  }
}
